# Feature Engineering

---

1. Import packages
2. Load data
3. Feature engineering

---

## 1. Import packages

In [1]:
import pandas as pd

---
## 2. Load data

In [2]:
df = pd.read_csv('./clean_data_after_eda.csv')
df["date_activ"] = pd.to_datetime(df["date_activ"], format='%Y-%m-%d')
df["date_end"] = pd.to_datetime(df["date_end"], format='%Y-%m-%d')
df["date_modif_prod"] = pd.to_datetime(df["date_modif_prod"], format='%Y-%m-%d')
df["date_renewal"] = pd.to_datetime(df["date_renewal"], format='%Y-%m-%d')

In [3]:
df.head(3)

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,var_6m_price_off_peak_var,var_6m_price_peak_var,var_6m_price_mid_peak_var,var_6m_price_off_peak_fix,var_6m_price_peak_fix,var_6m_price_mid_peak_fix,var_6m_price_off_peak,var_6m_price_peak,var_6m_price_mid_peak,churn
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,0.000131,4.100838e-05,0.000908,2.086294,99.530517,44.235794,2.086425,9.953056e+01,44.236702,1
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.000003,1.217891e-03,0.000000,0.009482,0.000000,0.000000,0.009485,1.217891e-03,0.000000,0
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.000004,9.450150e-08,0.000000,0.000000,0.000000,0.000000,0.000004,9.450150e-08,0.000000,0

---

## 3. Feature engineering

### Difference between off-peak prices in December and preceding January

Below is the code created by your colleague to calculate the feature described above. Use this code to re-create this feature and then think about ways to build on this feature to create features with a higher predictive power.

In [4]:
price_df = pd.read_csv('price_data.csv')
price_df["price_date"] = pd.to_datetime(price_df["price_date"], format='%Y-%m-%d')
price_df.head()

,id,price_date,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
0,038af19179925da21a25619c5a24b745,2015-01-01,0.151367,0.0,0.0,44.266931,0.0,0.0
1,038af19179925da21a25619c5a24b745,2015-02-01,0.151367,0.0,0.0,44.266931,0.0,0.0
2,038af19179925da21a25619c5a24b745,2015-03-01,0.151367,0.0,0.0,44.266931,0.0,0.0
3,038af19179925da21a25619c5a24b745,2015-04-01,0.149626,0.0,0.0,44.266931,0.0,0.0
4,038af19179925da21a25619c5a24b745,2015-05-01,0.149626,0.0,0.0,44.266931,0.0,0.0

In [50]:
price_df.describe()

,price_date,price_off_peak_var,price_peak_var,price_mid_peak_var,price_off_peak_fix,price_peak_fix,price_mid_peak_fix
count,193002,193002.000000,193002.000000,193002.000000,193002.000000,193002.000000,193002.000000
mean,2015-06-16 12:50:49.933161216,0.141027,0.054630,0.030496,43.334477,10.622875,6.409984
min,2015-01-01 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2015-04-01 00:00:00,0.125976,0.000000,0.000000,40.728885,0.000000,0.000000
50%,2015-07-01 00:00:00,0.146033,0.085483,0.000000,44.266930,0.000000,0.000000
75%,2015-10-01 00:00:00,0.151635,0.101673,0.072558,44.444710,24.339581,16.226389
max,2015-12-01 00:00:00,0.280700,0.229788,0.114102,59.444710,36.490692,17.458221
std,NaN,0.025032,0.049924,0.036298,5.410297,12.841895,7.773592

In [52]:
# Group off-peak prices by companies and month
monthly_price_by_id = price_df.groupby(['id', 'price_date']).agg({'price_off_peak_var': 'mean', 'price_off_peak_fix': 'mean'}).reset_index()

print(monthly_price_by_id)

                                      id price_date  price_off_peak_var  \
0       0002203ffbb812588b632b9e628cc38d 2015-01-01            0.126098
1       0002203ffbb812588b632b9e628cc38d 2015-02-01            0.126098
2       0002203ffbb812588b632b9e628cc38d 2015-03-01            0.128067
3       0002203ffbb812588b632b9e628cc38d 2015-04-01            0.128067
4       0002203ffbb812588b632b9e628cc38d 2015-05-01            0.128067
...                                  ...        ...                 ...
192997  ffff7fa066f1fb305ae285bb03bf325a 2015-08-01            0.119916
192998  ffff7fa066f1fb305ae285bb03bf325a 2015-09-01            0.119916
192999  ffff7fa066f1fb305ae285bb03bf325a 2015-10-01            0.119916
193000  ffff7fa066f1fb305ae285bb03bf325a 2015-11-01            0.119916
193001  ffff7fa066f1fb305ae285bb03bf325a 2015-12-01            0.119916

        price_off_peak_fix
0                40.565969
1                40.565969
2                40.728885
3                40.728885
4                40.728885
...                    ...
192997           40.728885
192998           40.728885
192999           40.728885
193000           40.728885
193001           40.728885

[193002 rows x 4 columns]

In [53]:
# Get january and december prices
jan_prices = monthly_price_by_id.groupby('id').first().reset_index()
dec_prices = monthly_price_by_id.groupby('id').last().reset_index()

# Calculate the difference
diff = pd.merge(dec_prices.rename(columns={'price_off_peak_var': 'dec_1', 'price_off_peak_fix': 'dec_2'}), jan_prices.drop(columns='price_date'), on='id')
diff['offpeak_diff_dec_january_energy'] = diff['dec_1'] - diff['price_off_peak_var']
diff['offpeak_diff_dec_january_power'] = diff['dec_2'] - diff['price_off_peak_fix']
diff = diff[['id', 'offpeak_diff_dec_january_energy','offpeak_diff_dec_january_power']]
diff.head()

,id,offpeak_diff_dec_january_energy,offpeak_diff_dec_january_power
0,0002203ffbb812588b632b9e628cc38d,-0.006192,0.162916
1,0004351ebdd665e6ee664792efc4fd13,-0.004104,0.177779
2,0010bcc39e42b3c2131ed2ce55246e3c,0.050443,1.500000
3,0010ee3855fdea87602a5b7aba8e42de,-0.010018,0.162916
4,00114d74e963e47177db89bc70108537,-0.003994,-0.000001

Now it is time to get creative and to conduct some of your own feature engineering! Have fun with it, explore different ideas and try to create as many as yo can!

## MY SPELL

### Calculate Diffferencce Off Peaak prices of December and preceding January

In [19]:
print(pd.to_datetime(price_df['price_date'], format='%Y-%m-%d'))

0        2015-01-01
1        2015-02-01
2        2015-03-01
3        2015-04-01
4        2015-05-01
            ...
192997   2015-08-01
192998   2015-09-01
192999   2015-10-01
193000   2015-11-01
193001   2015-12-01
Name: price_date, Length: 193002, dtype: datetime64[ns]

In [48]:
# Extract prices for December 2014
dec_prices = price_df[(price_df['price_date'].dt.month == 12) & (price_df['price_date'].dt.year == 2014)]

# Extract prices for January 2015
jan_prices = price_df[(price_df['price_date'].dt.month == 1) & (price_df['price_date'].dt.year == 2015)]

# Display the extracted data
print("December 2014 Prices:")
print(dec_prices)

print("\nJanuary 2015 Prices:")
print(jan_prices)

December 2014 Prices:
Empty DataFrame
Columns: [id, price_date, price_off_peak_var, price_peak_var, price_mid_peak_var, price_off_peak_fix, price_peak_fix, price_mid_peak_fix]
Index: []

January 2015 Prices:
                                      id price_date  price_off_peak_var  \
0       038af19179925da21a25619c5a24b745 2015-01-01            0.151367
12      31f2ce549924679a3cbb2d128ae9ea43 2015-01-01            0.125976
24      36b6352b4656216bfdb96f01e9a94b4e 2015-01-01            0.123086
36      48f3e6e86f7a8656b2c6b6ce2763055e 2015-01-01            0.144431
48      cce88c7d721430d8bd31f71ae686c91e 2015-01-01            0.153159
...                                  ...        ...                 ...
192942  cd622263c26436d1237e94ff05cdd506 2015-01-01            0.151367
192954  ed3434c3c1e2056d1a313e2671815e4d 2015-01-01            0.128069
192966  d00da2c0c568614b9937791f681cd7d7 2015-01-01            0.150211
192978  045f94f0b7f538a8d8fae11080abb5da 2015-01-01            0.151367
192990  16f51cdc2baa19af0b940ee1b3dd17d5 2015-01-01            0.129444

        price_peak_var  price_mid_peak_var  price_off_peak_fix  \
0             0.000000            0.000000           44.266931
12            0.103395            0.071536           40.565969
24            0.100505            0.068646           40.565969
36            0.000000            0.000000           44.266931
48            0.130578            0.098720           41.063970
...                ...                 ...                 ...
192942        0.000000            0.000000           44.266931
192954        0.105843            0.073773           40.728885
192966        0.000000            0.000000           44.266931
192978        0.000000            0.000000           44.266931
192990        0.106863            0.075004           40.565969

        price_peak_fix  price_mid_peak_fix
0             0.000000            0.000000
12           24.339581           16.226389
24           24.339581           16.226389
36            0.000000            0.000000
48           24.837581           16.724389
...                ...                 ...
192942        0.000000            0.000000
192954       24.437330           16.291555
192966        0.000000            0.000000
192978        0.000000            0.000000
192990       24.339581           16.226389

[16070 rows x 8 columns]

In [7]:
# Rename columns for clarity
dec_prices = dec_prices.rename(columns={'price_off_peak_var': 'dec_off_peak_price'})
jan_prices = jan_prices.rename(columns={'price_off_peak_var': 'jan_off_peak_price'})

# Merge December and January prices
price_diff = pd.merge(dec_prices[['id', 'dec_off_peak_price']], jan_prices[['id', 'jan_off_peak_price']], on='id')

# Calculate the difference
price_diff['off_peak_price_diff'] = price_diff['jan_off_peak_price'] - price_diff['dec_off_peak_price']

In [9]:
# Merge the new feature into the client_data dataset
client_df = pd.read_csv('./client_data.csv')
client_data = pd.merge(client_df, price_diff[['id', 'off_peak_price_diff']], on='id', how='left')

# Display the updated dataset
client_data.head()

,id,channel_sales,cons_12m,cons_gas_12m,cons_last_month,date_activ,date_end,date_modif_prod,date_renewal,forecast_cons_12m,...,imp_cons,margin_gross_pow_ele,margin_net_pow_ele,nb_prod_act,net_margin,num_years_antig,origin_up,pow_max,churn,off_peak_price_diff
0,24011ae4ebbe3035111d65fa7c15bc57,foosdfpfkusacimwkcsosbicdxkicaua,0,54946,0,2013-06-15,2016-06-15,2015-11-01,2015-06-23,0.00,...,0.00,25.44,25.44,2,678.99,3,lxidpiddsbxsbosboudacockeimpuepw,43.648,1,NaN
1,d29c2c54acc38ff3c0614d0a653813dd,MISSING,4660,0,0,2009-08-21,2016-08-30,2009-08-21,2015-08-31,189.95,...,0.00,16.38,16.38,1,18.89,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.800,0,NaN
2,764c75f661154dac3a6c254cd082ea7d,foosdfpfkusacimwkcsosbicdxkicaua,544,0,0,2010-04-16,2016-04-16,2010-04-16,2015-04-17,47.96,...,0.00,28.60,28.60,1,6.60,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.856,0,NaN
3,bba03439a292a1e166f80264c16191cb,lmkebamcaaclubfxadlmueccxoimlema,1584,0,0,2010-03-30,2016-03-30,2010-03-30,2015-03-31,240.04,...,0.00,30.22,30.22,1,25.46,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,13.200,0,NaN
4,149d57cf92fc41cf94415803a877cb4b,MISSING,4425,0,526,2010-01-13,2016-03-07,2010-01-13,2015-03-09,445.75,...,52.32,44.91,44.91,1,47.98,6,kamkkxfxxuwbdslkwifmmcsiusiuosws,19.800,0,NaN

In [13]:
import matplotlib as plt
import seaborn as sns

In [14]:
# Check correlation with churn
correlation = client_data['off_peak_price_diff'].corr(client_data['churn'])
print(f"Correlation between off-peak price difference and churn: {correlation:.2f}")

# Visualize the distribution of the new feature
plt.figure(figsize=(10, 6))
sns.histplot(client_data['off_peak_price_diff'].dropna(), kde=True)
plt.title('Distribution of Off-Peak Price Difference (Jan - Dec)')
plt.xlabel('Off-Peak Price Difference')
plt.show()

Correlation between off-peak price difference and churn: nan

TypeError: 'module' object is not callable